<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <connectionStrings>
    <add name="NewTempProject" connectionString="Database=DB_SyTest;Server=.;Integrated Security=false;MultipleActiveResultSets=true;uid=sa;password=123456" providerName="System.Data.SqlClient" />
    <add name="BaseConn" connectionString="Database=DB_SyTest;Server=.;Integrated Security=false;MultipleActiveResultSets=true;uid=sa;password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <unity>
    <containers>
      <container name="defaultContainer">
        <register type="Tomato.NewTempProject.BLL.IModelService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.ModelService,Tomato.NewTempProject.BLL"/>
        <register type="Tomato.NewTempProject.DAL.IModelRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.ModelRepository,Tomato.NewTempProject.DAL"/>
        <register type="Tomato.NewTempProject.BLL.IModelDetailService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.ModelDetailService,Tomato.NewTempProject.BLL"/>
        <register type="Tomato.NewTempProject.DAL.IModelDetailRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.ModelDetailRepository,Tomato.NewTempProject.DAL"/>

        <register type="Tomato.NewTempProject.BLL.IAcademicYearService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.AcademicYearService,Tomato.NewTempProject.BLL"/>
        <register type="Tomato.NewTempProject.DAL.IAcademicYearRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.AcademicYearRepository,Tomato.NewTempProject.DAL"/>
        <register type="Tomato.NewTempProject.BLL.IAuthService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.AuthService,Tomato.NewTempProject.BLL"/>
        <register type="Tomato.NewTempProject.DAL.IAuthRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.AuthRepository,Tomato.NewTempProject.DAL"/>
        <register type="Tomato.NewTempProject.BLL.IDicService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.DicService,Tomato.NewTempProject.BLL"/>
        <register type="Tomato.NewTempProject.DAL.IDicRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.DicRepository,Tomato.NewTempProject.DAL"/>
      </container>
    </containers>
  </unity>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
