<unity>
  <containers>
    <container name="defaultContainer">
      <register type="Tomato.NewTempProject.BLL.IAcademicYearService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.AcademicYearService,Tomato.NewTempProject.BLL"/>
      <register type="Tomato.NewTempProject.DAL.IAcademicYearRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.AcademicYearRepository,Tomato.NewTempProject.DAL"/>
      <register type="Tomato.NewTempProject.BLL.IAuthService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.AuthService,Tomato.NewTempProject.BLL"/>
      <register type="Tomato.NewTempProject.DAL.IAuthRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.AuthRepository,Tomato.NewTempProject.DAL"/>
      <register type="Tomato.NewTempProject.BLL.IDicService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.DicService,Tomato.NewTempProject.BLL"/>
      <register type="Tomato.NewTempProject.DAL.IDicRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.DicRepository,Tomato.NewTempProject.DAL"/>
      <register type="Tomato.NewTempProject.BLL.IExecProcessService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.ExecProcessService,Tomato.NewTempProject.BLL"/>
      <register type="Tomato.NewTempProject.DAL.IExecProcessRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.ExecProcessRepository,Tomato.NewTempProject.DAL"/>

    </container>
  </containers>
</unity>
