  <unity>
    <containers>
      <container name="defaultContainer">
<register type="Tomato.NewTempProject.BLL.IAcademicYearService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.AcademicYearService,Tomato.NewTempProject.BLL"/>
            <register type="Tomato.NewTempProject.DAL.IAcademicYearRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.AcademicYearRepository,Tomato.NewTempProject.DAL"/>

      </container>
    </containers>
  </unity>
