<unity>
  <containers>
    <container name="defaultContainer">

      <register type="Tomato.NewTempProject.BLL.IModelService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.ModelService,Tomato.NewTempProject.BLL"/>
      <register type="Tomato.NewTempProject.DAL.IModelRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.ModelRepository,Tomato.NewTempProject.DAL"/>
      <register type="Tomato.NewTempProject.BLL.IModelDetailService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.ModelDetailService,Tomato.NewTempProject.BLL"/>
      <register type="Tomato.NewTempProject.DAL.IModelDetailRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.ModelDetailRepository,Tomato.NewTempProject.DAL"/>


      <register type="Tomato.NewTempProject.BLL.IAcademicYearService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.AcademicYearService,Tomato.NewTempProject.BLL"/>
      <register type="Tomato.NewTempProject.DAL.IAcademicYearRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.AcademicYearRepository,Tomato.NewTempProject.DAL"/>
      <register type="Tomato.NewTempProject.BLL.IAuthService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.AuthService,Tomato.NewTempProject.BLL"/>
      <register type="Tomato.NewTempProject.DAL.IAuthRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.AuthRepository,Tomato.NewTempProject.DAL"/>
      <register type="Tomato.NewTempProject.BLL.IDicService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.DicService,Tomato.NewTempProject.BLL"/>
      <register type="Tomato.NewTempProject.DAL.IDicRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.DicRepository,Tomato.NewTempProject.DAL"/>

    </container>
  </containers>
</unity>
