<unity>
  <containers>
    <container name="defaultContainer">
      <register type="SeaSky.NewTempProject.BLL.IAcademicYearService,SeaSky.NewTempProject.BLL" mapTo="SeaSky.NewTempProject.BLL.AcademicYearService,SeaSky.NewTempProject.BLL"/>
      <register type="SeaSky.NewTempProject.DAL.IAcademicYearRepository,SeaSky.NewTempProject.DAL" mapTo="SeaSky.NewTempProject.DAL.AcademicYearRepository,SeaSky.NewTempProject.DAL"/>
      <register type="SeaSky.NewTempProject.BLL.IAuthService,SeaSky.NewTempProject.BLL" mapTo="SeaSky.NewTempProject.BLL.AuthService,SeaSky.NewTempProject.BLL"/>
      <register type="SeaSky.NewTempProject.DAL.IAuthRepository,SeaSky.NewTempProject.DAL" mapTo="SeaSky.NewTempProject.DAL.AuthRepository,SeaSky.NewTempProject.DAL"/>
      <register type="SeaSky.NewTempProject.BLL.IDicService,SeaSky.NewTempProject.BLL" mapTo="SeaSky.NewTempProject.BLL.DicService,SeaSky.NewTempProject.BLL"/>
      <register type="SeaSky.NewTempProject.DAL.IDicRepository,SeaSky.NewTempProject.DAL" mapTo="SeaSky.NewTempProject.DAL.DicRepository,SeaSky.NewTempProject.DAL"/>

    </container>
  </containers>
</unity>
