<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <connectionStrings>
    <!--<add name="NewTempProject" connectionString="Database=NewTempProject;Server=47.111.224.180;Integrated Security=false;MultipleActiveResultSets=true;uid=performance;password=sa$2020" providerName="System.Data.SqlClient" />-->
    <add name="NewTempProject" connectionString="Database=NewTempProject;Server=.;Integrated Security=false;MultipleActiveResultSets=true;uid=sa;password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <unity>
    <containers>
      <container name="defaultContainer">
        <register type="SeaSky.NewTempProject.BLL.IAcademicYearService,SeaSky.NewTempProject.BLL" mapTo="SeaSky.NewTempProject.BLL.AcademicYearService,SeaSky.NewTempProject.BLL"/>
        <register type="SeaSky.NewTempProject.DAL.IAcademicYearRepository,SeaSky.NewTempProject.DAL" mapTo="SeaSky.NewTempProject.DAL.AcademicYearRepository,SeaSky.NewTempProject.DAL"/>
        <register type="SeaSky.NewTempProject.BLL.IAuthService,SeaSky.NewTempProject.BLL" mapTo="SeaSky.NewTempProject.BLL.AuthService,SeaSky.NewTempProject.BLL"/>
        <register type="SeaSky.NewTempProject.DAL.IAuthRepository,SeaSky.NewTempProject.DAL" mapTo="SeaSky.NewTempProject.DAL.AuthRepository,SeaSky.NewTempProject.DAL"/>
        <register type="SeaSky.NewTempProject.BLL.IDicService,SeaSky.NewTempProject.BLL" mapTo="SeaSky.NewTempProject.BLL.DicService,SeaSky.NewTempProject.BLL"/>
        <register type="SeaSky.NewTempProject.DAL.IDicRepository,SeaSky.NewTempProject.DAL" mapTo="SeaSky.NewTempProject.DAL.DicRepository,SeaSky.NewTempProject.DAL"/>

      </container>
    </containers>
  </unity>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
